.page {
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  display: grid;
  grid-auto-flow: column;
  background-color: #2A2C2F;
  grid-template-areas: 
  "header"
  "lead"
  "intro"
  "photo-grid"
  "places"
  "cover"
  "footer"
  ;
}