.page {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  display: grid;
  background-color: #2A2C2F;
  grid-template-areas: 
  "header"
  "lead"
  "intro"
  "photo-grid"
  "places"
  "cover"
  "footer";
  justify-content: center;
  align-content: start;
  border: 1px solid red;
}