.photo-grid {
  grid-area: photo-grid;
}

@media screen and (min-width: 320px) {
  .photo-grid {
    width: 288px;
    height: 2724px;
    margin: 64px 16px 0;
    outline: 1px solid red;
  }  
}

@media screen and (min-width: 768px) {
  .photo-grid {
    width: 720px;
    height: 1664px;
    margin: 88px 24px 0;
    outline: 1px solid greenyellow;
  } 
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    width: 928px;
    height: 942px;
    margin: 92px 48px 0;
    outline: 1px solid blueviolet;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: 1184px;
    height: 671px;
    margin: 92px 48px 0;
    outline: 1px solid teal;
  }
}