.place__paragraphes {
}
@media screen and (min-width: 320px) {
  .place__paragraphes {
    max-width: 288px;
    margin: 0 auto;
  }  
}

@media screen and (min-width: 768px) {
  .place__paragraphes {
    margin: 0;
    max-width: 352px; 
  }  
}

@media screen and (min-width: 1024px) {
  .place__paragraphes {
    margin: 0;
    max-width: 456px; 
  }  
}

@media screen and (min-width: 1280px) {
  .place__paragraphes {
    margin: 0;
    max-width: 484px; 
  }  
}